.logo {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 60px;
}
.tittle{
    text-align: center;
    margin: 10px;
    color: #45B709;
    background-color: #FFFF09;
    font-family: 'Permanent Marker';
}
.barra {
    margin-left: 350px;
    margin-right: 100px;
}
a {
    background-color: whitesmoke;
    margin: 10px 25px 10px 25px;
}
.links {
    margin-top: 2%;
}