<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Toilets_unisex.svg" alt="logo-el-guapo">
        <img class="logo" src="https://png.icons8.com/apache-helicopter/win10/1600">
      </div>
        <h1 class="tittle">EVERFACE => tu mejor red social</h1>
      <div class="links">
        <ul class="nav navbar-nav barra">
          <li><a routerLink="/principal-component" routerLinkActive="active">Mis historietas</a></li>
          <li><a routerLink="/mis-cosas-component" routerLinkActive="active">Mis cosas</a></li>
          <li><a routerLink="/amigos-component" routerLinkActive="active">Mis colegas</a></li>
          <li><a routerLink="/events-component" routerLinkActive="active">Eventos</a></li>      
        </ul>
      </div>
    </div>
  </nav>
